.fixed
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 99666;
}
.navbar a{
    color: #1f1f1f;
}
.bg-pic
{
    background-image: url(../images/slideshow-1.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.bg-pic1
{
    background-image: url(../images/slideshow-2.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.bg-pic2
{
    background-image: url(../images/slideshow-3.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.cont1
{
    bottom: 28% !important;
}
/* ---------------------------------------------About-------------------------------------- */

.title {
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.title h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.3);
}
.title h2 {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
}
.prog
{
    height: 4px !important;
}
.prog-num80
{
    text-align: right;
    width: 80%;
}
.prog-num95
{
    text-align: right;
    width: 95%;
}
.prog-num85
{
    text-align: right;
    width: 85%;
}
.prog-num70
{
    text-align: right;
    width: 70%;
}
/* ---------------------------------------------Team-------------------------------------- */
.hover1:hover img
{
transform: scale(1.2);
position: relative;
z-index: 5;
transition: ALL 1s;

}
.img1 .box
{
    background-color: rgba(254, 84, 84, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s , transform 1s;
}
.img1
{
    position: relative;
    overflow: hidden;
    
}

.hover1:hover .box
{
    opacity: 1;
    position: absolute;
    z-index: 555;
}
.hover1:hover h6
{
    color: red;
}


.icon a
{
    padding: 5px;
    position: relative;
    top: 150px;
    color: #fff;
}
.btn-ed
{
    position: absolute;
    right: 160px;
}
.text
{
    left: 12px;
    top: 194px;
    position: relative;
    color: #fff;
    font-size: 12px;
    bottom: 0px;
}
.title2
{
    justify-content: end;   
}
/* ---------------------------------------------Services-------------------------------------- */
.pic
{
    background-color: #fafafa;
}
.icon-col i
{
    color: #f25454;
    font-size: 20px;
}
 .hover-ser h5:hover
{
    color: red;
}
/* ---------------------------------------------Work-------------------------------------- */
.pos
{
    position: relative;
    top: 308px;
    height: 320px;
}
/* ---------------------------------------------Team-------------------------------------- */
.bg-bt
{
    height: 120px !important;
}
.contact .icon-col i
{
    font-size: 40px;
}
.contact
{
    background-color: #fafafa;
}
/* ---------------------------------------------Footer-------------------------------------- */
.footer
{
    background-image: url(../images/dotted-map.png);
    background-size: 100% 100%;
    background-color: #222;
}
.footer a
{
    text-decoration: none;
    color: #fff;
}
.footer p
{
    margin: 0;
}
.footer a:hover
{
    color: #f25454;
}
/* ---------------------------------------------Footer2-------------------------------------- */
.hr-edit
{
    padding: 1px;
    
}
.hr-edit hr
{
    
    width: 40px;
    background-color: #000;
    transition: ALL 0.8s;
}
.hr-edit:hover hr
{
    width: 90px;
}